:root {
  --font-size-header: clamp(1.35rem, 1vw + 1.2rem, 2.11rem);
  --font-size-xs: clamp(0.5rem, 0.3vw + 0.9rem, 0.9rem);
  --font-size-sm: clamp(0.5rem, 0.2vw + 0.9rem, 1.26rem);
  --font-size-md: clamp(1rem, 0.5vw + 1rem, 1.4rem);
  --font-size-lg: clamp(1.56rem, 1vw + 1.31rem, 2.11rem);
  --font-size-xl: clamp(1.75rem, 2vw + 0.5rem, 3rem);
}

html {
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.body.wrapper {
  display: flex;
  flex-direction: column;
}

/* Header Wrap */
.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  height: auto;
}

.header-left-content {
  display: flex;
  align-items: center;
  /* gap: 1vw; */
}
.header-logo {
  width: 3rem;
  height: auto;
}

/* .logo-container {
    width: ;
} */
/* .header-logo-text {

} */

/* .header-links {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  gap: 1rem;
}
.header-links li a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: var(--font-size-md);
} */

#nav-bar {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
}

.header-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  gap: 20px;
  list-style: none;
  font-size: var(--font-size-md);
}

.nav-link li:hover {
  text-decoration: underline;
}

.dropbtn {
  color: white;
  border: none;
  cursor: pointer;
  padding: 0;
  background: none;
}

.dropdown {
  position: relative;
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 100;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-size: 1.5rem;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(247, 247, 70, 0.8);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: rgba(247, 247, 70, 0.8);
}

#menuBtn {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
}

a {
  text-decoration: none;
  color: white;
}

/* Hero Wrap */
.hero-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  padding: 20px;
  /* flex: 1 1 24em; */
}

.hero-left-content {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
  /* width: 40vw;
  min-width: 25em; */
}

.hero-right-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45%;
  /* width: 40vw;
  min-width: 30em; */
}

.hero-image {
  width: 100%;
  max-width: 500px;
  min-width: 250px;
  height: auto;
  border-radius: 1vw;
}

/* Content Wrap */
.content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-flow: column;
  text-align: center;
}

.content-items-wrapper {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  padding: 1rem;
  gap: 10px;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.content-items {
  display: block;
  font-weight: 700;
}

.content-items img {
  width: 100%;
  max-width: 300px;
  min-width: 100px;
  height: auto;
  aspect-ratio: 1.5/1;
  border-radius: 1vw;
  border: 0.5vw solid #3882f6;
  box-sizing: border-box;
}

/* Quote Wrapper */
.quote-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
  text-align: left;
  padding: 3.5vw 7vw;
}

.quote-author {
  font-weight: 700;
  align-self: flex-end;
}

/* Signup Wrapper */
.signup-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  margin: 5vw 10vw;
  gap: 20px;
  width: 70vw;
  border-radius: 1vw;
  padding: 5vw;

  /* height: 10vw; */
  /* padding: 3.5vw 3.5vw 7vw 3.5vw; */
}

.signup-left-content {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.signup-text {
  font-size: 24px;
  font-weight: 700;
}

.signup-button {
  border-color: white;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: var(--font-size-md);
  height: 70px;
}

/* Colors and font styles */
.header,
.footer,
.hero-content-wrapper {
  background-color: #1f2937;
}

.header-logo-text,
.hero-text {
  color: #f9faf8;
}

.header-logo-text {
  /* font-size: 24px; */
  font-size: var(--font-size-header);
}

.hero-secondary-text {
  font-size: var(--font-size-sm);
  color: #e5e7eb;
}

.hero-text {
  font-size: var(--font-size-xl);
  font-weight: 800; /*Extra bold = 800 */
}

.button,
.signup-content-wrapper {
  background-color: #3882f6;
  color: white;
}

.hero-button {
  padding: 0.2em 0.8em;
  border: none;
}

.content-text {
  font-size: var(--font-size-xl);
  font-weight: 800; /*Extra bold = 800 */
}

.quote-wrapper {
  background-color: #e5e7eb;
}

.quote-text {
  font-size: var(--font-size-lg);
  font-style: italic;
  color: #1f2937;
}

.button {
  font-size: var(--font-size-base);
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}

/* FLOATING BUTTON */
.circle-button {
  width: 20px;
  height: 20px;
  background-color: #ffff00;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid black;
}

/* Media Queries */
@media only screen and (max-width: 700px) {
  .hero-content-wrapper {
    flex-flow: column;
    gap: 20px;
  }

  .hero-left-content,
  .hero-right-content {
    width: 100%;
  }

  .hero-image {
    max-width: 400px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    justify-content: space-between;
  }

  .header-left-content {
    margin-left: 0.5rem;
  }

  #nav-bar {
    margin-right: 0.5rem;
    justify-content: end;
    width: auto;
  }

  .dropdown {
    display: inline-block;
    z-index: 100;
  }

  #menuBtn {
    display: block;
  }

  .header-links {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  body {
    width: 100%;
  }

  /* .content-items img {
    width: 40vw;
  } */

  .header {
    width: 100%;
  }

  /* .hero-left-content {
    min-width: 20em;
  } */

  .hero-image {
    min-width: 250px;
  }
}
